<div class="container">
  <div class="board">
    <div *ngFor="let r of lines; let row = index" class="row">
      <div
        *ngFor="let c of r; let column = index"
        class="col-3"
        (click)="onCellClick(row, column)"
      >
        <div class="cell">{{ c }}</div>
      </div>
    </div>
  </div>

  <ul class="nav">
    <li class="nav-item">
      <a
        href="#"
        id="rules"
        class="nav-link active"
        title="game rules"
        data-toggle="popover"
        data-trigger="focus"
        data-content='Click or use the buttons "left", "right", "up", "down" to move the numbers. You have to sort the numbers in ascending order. The empty can be anywhere.'
        >Rules|</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        id="rules"
        class="nav-link active"
        title="github repository"
        data-toggle="popover"
        data-trigger="focus"
        data-content="https://github.com/narek-7/square.git"
        >Info|</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        id="rules"
        class="nav-link active"
        title="linkedin"
        data-toggle="popover"
        data-trigger="focus"
        data-content="www.linkedin.com/in/narek-7"
        >Contact|</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        id="rules"
        class="nav-link active"
        title="email"
        data-toggle="popover"
        data-trigger="focus"
        data-content="narek1985ch@gmail.com"
        >Help|</a
      >
    </li>
  </ul>

  <div class="NGbutton">
    <button type="button" class="btn btn-outline-danger" (click)="newGame()">
      New game
    </button>
  </div>

  <div class="STbutton">
    <button
      class="STbutton"
      type="button"
      class="btn btn-outline-primary"
      (click)="StartPauseGame()"
    >
      Start / Stop
    </button>
  </div>

  <span id="sc">Score - {{ score | number: "1.0-0" }}</span>
  <span id="s">step - {{ steps }}</span>
  <span id="t">time - {{ time }} </span>

  <div class="warning" *ngIf="paused" style="color: rgb(10, 97, 191)">
    {{ prompt }}
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <span
            class="modal-title"
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 32px;
              color: #b8030cde;
            "
            >You Win!!!</span
          >
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <span class="warning" style="font-size: 36px; text-align: center">
            Your score is - <b>{{ score | number: "1.0-0" }}</b
            >. Its {{ rating }}</span
          >
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
